.items {
}
.items .part {
  /* @todo: we can remove them right? */
  overflow: hidden;
  float: right;
}
.items .part p {
  margin: 0;
}

.book-ui-pager {
  color: #333;
  direction: ltr;
  font-size: 64px;
  font-weight: bold;
  position: absolute;
  cursor: pointer;
  z-index: 5;
  height: 32px;
  width: 32px;
}
#pager-right {
  background: url("images/pager_right.png") no-repeat;
}
#pager-right:hover {
  background: url("images/pager_right_hover.png") no-repeat;
}
#pager-left {
  background: url("images/pager_left.png") no-repeat;
}
#pager-left:hover {
  background: url("images/pager_left_hover.png") no-repeat;
}

.sidebar-toggle {
  background-color: #ccc;
  background-position: 2px 44px;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 100px;
  position: absolute;
  width: 20px;
  z-index: 10;
}
.sidebar-toggle:hover {
  background-color: #ddd;
}

.right-arrow {
  background-image: url("images/right_arrow.png");
}
.left-arrow {
  background-image: url("images/left_arrow.png");
}